import timeit   
from pathlib import Path
from source.correct_data import NorthSouthDetrend
from source.export_data import ExportLines
from source.helper_functions import files_to_dict,merge_object_data
from source.plot_data import DataPlotter
from source.geomag import GeoMag
from source.app import MagApp
from source.model_data import PloufModel
import matplotlib.pyplot as plt
from source.stats import Stats
from source.separate_data import SingleSeparator

#TODO fix recursive folder creation
######################## - INPUTS - #############################

DATA_DIR = '/home/robert/DataStorage/Amargosa/rawdata/patches/cleaned_data/'
FILE = Path(f'{DATA_DIR}/All_NS_processedOn_2021_11_17.csv')
INEPSG = '4326'
OUTEPSG = '32611'
DATES = ['2019-10-18', '2019-10-17',  '2019-10-19', '2019-10-21']
ELEVATION = '0'

######################### - Main - ###############################

def main():

    print(FILE,'\n')
    # initializing and validating input parameters
    geomag = GeoMag(
        filepath=FILE,
        input_epsg=INEPSG,
        output_epsg=OUTEPSG,
        dates=DATES,
        elevation=ELEVATION
    )


    # creating new MagApp instance with all cleaned data
    app = MagApp(parameters = geomag)

    app.subtract_mean()
    plotter = DataPlotter()

    # setting up start and endpoints for line extraction 
    line_params = {
        # Line name : [(start coordinates), (end coordinates)]
        'line 1': [(535813.2518, 4070414.612),(535843.0884,4069300.961)],
        }

    app.separate_lines(SingleSeparator(),line_params)

    key_name='line 1'
    app.subtract_line(NorthSouthDetrend(),key_name)
    plotter.plot_mag_profile(app,key_name)



    line_params = {
        # Line name : [(start coordinates), (end coordinates)]
        'line 1': [(534605.4451,4068731.615),(534560.0319,4070426.924)],
        'line 2' : [(534678,4068732),(534641,4070410)],
    
   